doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#8e44ad")  
    //- meta(http-equiv="refresh" content="5")
      
    title= "30 days 30 photos | Kuroikyu"
    
    link(rel="stylesheet" type="text/css" href="assets/css/main.css")
      
      
    //- Mixins  
    mixin image(day, place, id, source)      
      input(type="checkbox" id="#{id}")
      label(for = "#{id}")
        .media
          img(src = "#{source}")
        .desc
          p
            strong.day #{day} 
            || #{place}

    //- End of mixins  
  body
    .top-slash

    header
      .logo &lt;<em>K</em>&gt;

    section.hero
      .flex-container
        .flex-about-content
          hr.section-title-rule
          .mission.title 30 days - 30 photos 
          .mission Self-learning to build a website requires content and patience.
          hr.section-title-rule.bottom

    section.what-is-this 
      .what-is-this-slash
      .constrainer
        .section-head What is this?
        hr.section-title-rule
        .media-object
          .media
            img.avatar(src="https://pbs.twimg.com/profile_images/643935077643218944/RWkbOP1Q.jpg")
          .content
            p I created this website to teach myself how to build a website. Doing that requires time - 30 days - to write the code and content - 30 photos.

    section.photos-list.tint      
      .constrainer
        .section-head Photos
        hr.section-title-rule
        .photos-list

          // Day 1
          +image("Day 1", "Sutton Coldfield (UK)", "day01", "assets/img/day01.jpg")

          // Day 2
          +image("Day 2", "Measham (UK)", "day02", "assets/img/day02.jpg")

          // Day 3
          +image("Day 3", "Appleby Magna (UK)", "day03", "assets/img/day03.jpg")

          // Day 4
          +image("Day 4", "The office", "day04", "assets/img/day04.jpg")

          // Day 5
          +image("Day 5", "Sutton Coldfield (UK) ", "day05", "assets/img/day05.jpg")

          // Day 6
          +image("Day 6", "The office ", "day06", "assets/img/day06.jpg")

          // Day 7
          +image("Day 7", "Sutton Coldfield (UK)", "day07", "assets/img/day07.jpg")

          // Day 8
          +image("Day 8", "Sutton Coldfield (UK)", "day08", "assets/img/day08.jpg")

          // Day 9
          +image("Day 9", "Sutton Coldfield (UK)", "day09", "assets/img/day09.jpg")

          // Day 10
          +image("Day 10", "Home (UK)", "day10", "assets/img/day10.jpg")

          // Day 11
          +image("Day 11", "Home (UK)", "day11", "assets/img/day11.jpg")

          // Day 12
          +image("Day 12", "The Bottle of Sack (UK)", "day12", "assets/img/day12.jpg")

          // Day 13
          +image("Day 13", "Near home (UK)", "day13", "assets/img/day13.jpg")

          // Day 14
          +image("Day 14", "Home (UK)", "day14", "assets/img/day14.jpg")

          // Day 15
          +image("Day 15", "Birmingham Airport (UK)", "day15", "assets/img/day15.jpg")

          // Day 16
          +image("Day 16", "Balaguer (Spain)", "day16", "assets/img/day16.jpg")

          // Day 17
          +image("Day 17", "Lleida (Spain)", "day17", "assets/img/day17.jpg")

          // Day 18
          +image("Day 18", "Barcelona (Spain)", "day18", "assets/img/day18.jpg")

          // Day 19
          +image("Day 19", "Barcelona (Spain)", "day19", "assets/img/day19.jpg")

          // Day 20
          +image("Day 20", "Barcelona (Spain)", "day20", "assets/img/day20.jpg")

          // Day 21
          +image("Day 21", " - ", "#", "http://placehold.it/430x320")

          // Day 22
          +image("Day 22", " - ", "#", "http://placehold.it/430x320")

          // Day 23
          +image("Day 23", " - ", "#", "http://placehold.it/430x320")

          // Day 24
          +image("Day 24", " - ", "#", "http://placehold.it/430x320")

          // Day 25
          +image("Day 25", " - ", "#", "http://placehold.it/430x320")

          // Day 26
          +image("Day 26", " - ", "#", "http://placehold.it/430x320")

          // Day 27
          +image("Day 27", " - ", "#", "http://placehold.it/430x320")

          // Day 28
          +image("Day 28", " - ", "#", "http://placehold.it/430x320")

          // Day 29
          +image("Day 29", " - ", "#", "http://placehold.it/430x320")

          // Day 30
          +image("Day 30", " - ", "#", "http://placehold.it/430x320")

    section.special
      .constrainer
        p Thanks for making it so far!
        p I'll be doing more projects like this one in the future. Follow me on Twitter 
          a(href="https://twitter.com/kuroikyu" target="_blank")
              | @kuroikyu
          |  if you want to know what I'm working on now! 
        p =)

    footer.white.tint-reversed
      .constrainer
        ul.link-list.text-center
          li Copyright &copy 2016 Álvaro J. Martínez
